:root {
  --clr-primary--100: #202a3c;
  --clr-primary--300: #1c2431;
  --clr-primary--500: #181f2a;
  --clr-primary--900: #0b1523;
  --clr-accent--300: #65e2d9;
  --clr-accent--500: #339ecc;
  --clr-accent--700: #925cef;
  --clr-accent--800: #6b28e0;
  --clr-accent--900: hsl(0, 100%, 63%);
  --clr-neutral--100: #ffffff;
  --clr-neutral--300: #ffffffb7;
  --clr-neutral--500: #afadad;
  --clr-neutral--900: #34373d;
  --fs: 1.2rem;
  --ff-primary: 'Lato', sans-serif;
  --br: 0.5em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* Body */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--fs);
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: var(--clr-primary--100);
  color: var(--clr-neutral--100);
}

.navbar {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
  position: relative;
}

.logo__container {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

.navbar__items {
  display: flex;
  align-items: center;
}

.navbar__item:not(:first-child) {
  margin-left: 7vw;
}

.navbar__item a {
  color: var(--clr-neutral--100);
}

.navbar__item a:hover,
.navbar__item--dropdown:hover,
.account__option a:hover {
  color: var(--clr-accent--300);
}

.navbar__item--dropdown {
  position: relative;
}

.account__options {
  padding: 2em;
  position: absolute;
  top: 98%;
  list-style-type: none;
  right: 0;
  z-index: 99;
  border: 1px solid var(--clr-neutral--500);
  background-color: var(--clr-primary--100);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: none;
}

.navbar__item--dropdown.open~.account__options {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.account__options li {
  margin: 0.6em 1em;
}

.account__options .account__option--logout {
  position: relative;
  margin-top: 1.3em;
}

.account__option--logout::before {
  content: '';
  border: 0.5px solid var(--clr-neutral--300);
  position: absolute;
  top: -1rem;
  left: -1.8rem;
  right: -1.8em;
}


/* ----- Main ----- */

.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__container {
  width: 100%;
  /* max-width: 120rem; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* padding: 0 2em; */
}


/* ----- Home page ----- */
.bg {
  height: 65rem;
  width: unset;
  background-color: var(--clr-primary--500);
  background-image: url('/static/media/bg_image_dark.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.incentive {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2em;
}


.incentive__title {
  max-width: 45rem;
  background-color: #181f2a6b;
  color: var(--clr-neutral--100);
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  line-height: 4.5rem;
}

.incentive__buttons {
  padding-top: 1em;
  display: flex;
}


.incentive__button {
  width: 12rem;
  margin: 0 auto;
  background-color: var(--clr-accent--800);
  font-weight: bold;
  padding-top: 0.7em;
  padding-bottom: 0.9em;
  border-radius: var(--br);
  margin: 1em;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.incentive__button a {
  color: var(--clr-neutral--100);
  font-size: 1.5rem;
}

.incentive__button:hover {
  background-color: var(--clr-accent--700);
}

.benefits__container {
  width: 100%;
  background-color: var(--clr-primary--300);
  color: var(--clr-neutral--100);
}

.benefits__container--content {
  max-width: 100rem;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

.benefits__title {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  padding-bottom: 2em;
}

.benefits {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.benefit {
  display: flex;
  flex-direction: column;
}

.benefit__icon {
  font-size: 3rem;
  padding-bottom: 0.5em;
}

.benefit__content {
  font-size: 1.5rem;
  padding-bottom: 2em;
}

/* ----- Forms ----- */
.account__container,
.project__new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: unset;

}

.account {
  max-width: 50rem;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em;
  background-color: var(--clr-primary--100);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  border: 1px solid #ffffff8c;
}

.account__title {
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
}

.account p {
  margin: 2em 0;
  max-width: 18rem;
  color: #ffffffc2;
  font-weight: 100;
  font-size: 1.2rem;
}

.account input {
  border: 1px solid #ffffff8c;
  border-radius: var(--br);
  padding: 1em 2em;
  min-width: 25rem;
  margin: 1em 0;
  background-color: #202a3cad;
}

/* .account input[type='text'],
.account input[type='password'],
.account input[type='email'] {
  min-width: 20rem;
} */

.account label:not([for='id_remember']) {
  display: none;
}

.account input::placeholder {
  color: #ffffff8c;
  font-size: 1rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
}

.account input:placeholder-shown {
  color: #65e2d9;
  font-weight: 600;
}

.account input:not(:placeholder-shown) {
  color: var(--clr-accent--300);
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.13rem;
}

.account button,
.account input[type='submit'],
.project__new button,
.project__new input[type='submit'] {
  background-color: var(--clr-accent--800);
  color: var(--clr-neutral--100);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5em 1.7em 0.6em 1.7em;
  border-radius: var(--br);
  margin: 2em auto;
  outline: none;
  border: 1px solid var(--clr-primary--300);
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.account .form-check {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  color: #ffffffc2;
  font-weight: 100;
  font-size: 1.2rem;
}

.account input[type='checkbox'] {
  margin-left: 1em;
  min-width: unset;
}

.account button:hover,
.project__new button:hover {
  color: #fff;
  background-color: var(--clr-accent--700);
  border-color: var(--clr-primary--300);
}

.account a {
  color: var(--clr-accent--300);
}


/* ----- Projects ----- */
.projects__container {
  width: 100%;
  background-color: #1c2431a9;
  color: var(--clr-neutral--100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
}

.projects__title {
  font-size: 2.9rem;
  letter-spacing: 0.15rem;
  padding: 2em 0;
  color: var(--clr-neutral--100);
}

.projects__group {
  width: 100%;
  padding: 2em;
  margin-bottom: 3em;
}

.projects__subtitle {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  padding-bottom: 2em;
  text-align: center;
}

.projects__list {
  width: 100%;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
  background-color: var(--clr-primary--500);
  border-radius: var(--br);
}

.projects__item {
  background-color: var(--clr-primary--100);
  border-radius: var(--br);
  display: grid;
  padding: 2em;
  grid-template-rows: 0.2fr 1fr 1.2fr 1.7fr 0.5fr;
  gap: 2rem;
  cursor: unset;
}

.projects__item--new {
  cursor: pointer;
}

.project__icon i {
  font-size: 1.2rem;
  padding-left: 0.3em;
}

.projects__item--name,
.projects__item--members,
.projects__item--description {
  font-size: 1.8rem;
  font-weight: 500;
  justify-self: start;
  align-self: start;
  color: rgba(255, 255, 255, 0.808);
}

.project__item--title {
  font-size: 1.95rem;
  font-weight: 900;
  padding-bottom: 0.2em;
  color: var(--clr-accent--300);
}

.projects__link {
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: var(--clr-accent--800);
  color: var(--clr-neutral--100);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.7em 3.7em 0.8em 3.7em;
  width: 100%;
  border-radius: var(--br);
  outline: none;
  border: 1px solid var(--clr-primary--300);
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.projects__link:hover {
  color: #fff;
  background-color: var(--clr-accent--700);
  border-color: var(--clr-primary--300);
}

.add__project {
  grid-row: 1/6;
  justify-self: center;
  align-self: center;
  color: white;
}

.add__project--hidden {
  display: none;
}

.add__project i {
  font-size: 5rem;
  color: white;
}

.project__options {
  grid-row: 1/6;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 80%;
  padding: 2em 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project__options--hidden {
  display: none;
}

.add__project--title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 2em;
  color: var(--clr-accent--300);
}

.add__project--or {
  font-size: 1.7rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.808);
}

.add__project--type {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.project__type {
  background-color: var(--clr-accent--800);
  color: var(--clr-neutral--100);
  font-size: 1.5rem;
  font-weight: 900;
  width: 100%;
  padding-top: 0.7em;
  padding-bottom: 0.8em;
  border-radius: var(--br);
  outline: none;
  border: 1px solid var(--clr-primary--300);
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.project__type:hover {
  color: #fff;
  background-color: var(--clr-accent--700);
  border-color: var(--clr-primary--300);
}

.project__type i {
  padding-left: 0.6em;
  font-size: 1.5rem;
}

/* ----- New Project ----- */
.projects__container {
  width: 100%;
  background-color: #1c2431a9;
  color: var(--clr-neutral--100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
}

.project__new--title,
.project__title {
  max-width: 35rem;
  margin: 0 auto;
  text-align: center;
  color: var(--clr-neutral--100);
  margin-top: 1em;
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  background-color: #1c2431a9;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.project__new--form {
  max-width: 80rem;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4em;
  background-color: var(--clr-primary--100);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  border: 1px solid #ffffff8c;
}

.project__new label[for='id_title'],
.project__new label[for='id_description'],
.project__new label[for='id_collaborators'] {
  display: none;
}

.project__new label[for='id_title']~div::before,
.project__new label[for='id_description']~div::before,
.project__new label[for='id_collaborators']~div::before {
  color: rgba(255, 255, 255, 0.808);
  font-size: 1.7rem;
  font-weight: 500;
  top: -50%;
  opacity: 1;
  display: block;
}

.project__new label[for='id_title']~div::before {
  content: 'Project Name:';
}

.project__new label[for='id_description']~div::before {
  content: 'Project Description:';
}

.project__new label[for='id_collaborators']~div::before {
  content: 'Add Collaborators:';
}

.project__new input {
  border: 1px solid #ffffff8c;
  border-radius: var(--br);
  padding: 0.5em 1em;
  width: 35rem;
  margin: 1em 0 1.5em 0;
  background-color: #202a3cad;
}

.project__new input[type='text']::placeholder {
  color: var(--clr-neutral--100);
  font-size: 1.3rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
}

.project__new input[type='text']:placeholder-shown {
  color: var(--clr-neutral--100);
  font-weight: 600;
  font-size: 1.3rem;
}

.project__new input[type='text']:not(:placeholder-shown) {
  color: var(--clr-neutral--100);
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.13rem;
}

.project__new .textarea {
  border: 1px solid #ffffff8c;
  border-radius: var(--br);
  padding: 0.5em 1em;
  width: 35rem;
  margin: 1em 0 1.5em 0;
  background-color: #202a3cad;
  color: white;
  font-size: 1.3rem;
  resize: vertical;
  min-height: 10rem;
}

/* ----- Project Details ----- */

.project__details {
  width: 100%;
  color: var(--clr-neutral--100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-bottom: 3em;
  background-color: #1c2431a9;
  border-radius: var(--br);
}

.project__title--message {
  text-align: center;
  font-size: 2rem;
  color: var(--clr-accent--300);
  margin: 3em 0;
}

.project__title {
  max-width: 50rem;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 2em;
}

.project__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: unset;
  width: 100%;
  padding: 2em;
  background-color: var(--clr-primary--100);
  border-radius: var(--br);
  margin-bottom: 2em;
}

.project__header>h3:first-child {
  margin-bottom: 1em;
}

.project__header h3 {
  color: var(--clr-neutral--100);
  display: flex;
  font-weight: 100;
  text-transform: capitalize;
}

.project__header h3 span {
  color: var(--clr-accent--300);
  font-weight: 900;
  margin-right: 1em;
}

.spacing {
  margin-right: 0.5em;
}

.project__issues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: unset;
  width: 100%;
  padding: 2em;
  background-color: var(--clr-primary--100);
  border-radius: var(--br);
}

.project__issues--title {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}

.project__issues--main {
  width: 100%;
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: var(--clr-primary--500);
  border-radius: var(--br);
}

.project__issue--status {
  border: 2px solid #2c3b55;
  border-radius: var(--br);
}

.project__issues--header {
  background-color: #1c2431a9;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom: 2px solid #2c3b55;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.btn__issue--add {
  padding: 0.4em 1em 0.5em 1em;
  background-color: var(--clr-accent--800);
  border-radius: var(--br);
  color: white;
  text-transform: lowercase;
  font-size: 1.1rem;
}

.project__issues--container {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.project__issue .issue__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: unset;
  width: 100%;
  padding: 0.7em 1em;
  height: 6rem;
  background-color: var(--clr-primary--100);
  border: 2px solid #1f3557;
  border-radius: var(--br);

}

.project__issue .issue__container:not(:last-child) {
  margin-bottom: 0.5em;
}

.project__issue .issue__content {
  width: 100%;
  display: flex;


}

.project__issue .issue {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* -----Issue Priority + Priority Low*/
.issue__priority {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5em;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 2px #65e2d9;
  -moz-box-shadow: 0px 0px 3px 2px #65e2d9;
  box-shadow: 0px 0px 3px 2px #65e2d9;
}

.issue__priority::before {
  content: "";
  position: absolute;
  top: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  right: -0.5px;
  background-color: transparent;
  box-shadow: 0px 0px 3px 2px #65e2d9 inset;
  -webkit-box-shadow: 0px 0px 3px 2px #65e2d9 inset;
  -moz-box-shadow: 0px 0px 3px 2px #65e2d9 inset;
  border-radius: 50%;
}

.circle {
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  background-color: #65e2d9;
  box-shadow: 0px 0px 3px 2px #65e2d9;
  -webkit-box-shadow: 0px 0px 3px 2px #65e2d9;
  -moz-box-shadow: 0px 0px 3px 2px #65e2d9;
}

/* Issue Priority Low */

/* Issue Priority Middle */
.issue__priority.yellow {
  -webkit-box-shadow: 0px 0px 3px 2px yellow;
  -moz-box-shadow: 0px 0px 3px 2px yellow;
  box-shadow: 0px 0px 3px 2px yellow;
}

.issue__priority.yellow::before {
  box-shadow: 0px 0px 3px 2px yellow inset;
  -webkit-box-shadow: 0px 0px 3px 2px yellow inset;
  -moz-box-shadow: 0px 0px 3px 2px yellow inset;
  border-radius: 50%;
}

.issue__priority.yellow .circle {
  background-color: yellow;
  box-shadow: 0px 0px 3px 2px yellow;
  -webkit-box-shadow: 0px 0px 3px 2px yellow;
  -moz-box-shadow: 0px 0px 3px 2px yellow;
}

/* Issue Priority High */
.issue__priority.orange {
  -webkit-box-shadow: 0px 0px 3px 2px #ff7b00;
  -moz-box-shadow: 0px 0px 3px 2px #ff7b00;
  box-shadow: 0px 0px 3px 2px #ff7b00;
}

.issue__priority.orange::before {
  box-shadow: 0px 0px 3px 2px #ff7b00 inset;
  -webkit-box-shadow: 0px 0px 3px 2px #ff7b00 inset;
  -moz-box-shadow: 0px 0px 3px 2px #ff7b00 inset;
  border-radius: 50%;
}

.issue__priority.orange .circle {
  background-color: #ff7b00;
  box-shadow: 0px 0px 3px 2px #ff7b00;
  -webkit-box-shadow: 0px 0px 3px 2px #ff7b00;
  -moz-box-shadow: 0px 0px 3px 2px #ff7b00;
}

/* Issue Priority Urgent */
.issue__priority.red {
  -webkit-box-shadow: 0px 0px 3px 2px red;
  -moz-box-shadow: 0px 0px 3px 2px red;
  box-shadow: 0px 0px 3px 2px red;
}

.issue__priority.red::before {
  box-shadow: 0px 0px 3px 2px red inset;
  -webkit-box-shadow: 0px 0px 3px 2px red inset;
  -moz-box-shadow: 0px 0px 3px 2px red inset;
  border-radius: 50%;
}

.issue__priority.red .circle {
  background-color: red;
  box-shadow: 0px 0px 3px 2px red;
  -webkit-box-shadow: 0px 0px 3px 2px red;
  -moz-box-shadow: 0px 0px 3px 2px red;
}

.project__issue .issue__additional {
  background-color: #339ecc;
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.project__issue .issue__data {
  display: flex;
}

/* -webkit-box-shadow: 0px 0px 7px 2px rgba(255, 56, 0, 0.2) inset;
-moz-box-shadow: 0px 0px 7px 2px rgba(255, 56, 0, 0.2) inset;
box-shadow: 0px 0px 7px 2px rgba(255, 56, 0, 0.2) inset; */

/* -webkit-box-shadow: 0px 0px 7px 2px rgba(255, 56, 0, 0.2);
-moz-box-shadow: 0px 0px 7px 2px rgba(255, 56, 0, 0.2);
box-shadow: 0px 0px 7px 2px rgba(255, 56, 0, 0.2); */

/* ----- Footer ----- */

.footer {
  width: 100%;
  background-color: var(--clr-primary--900);
}

.footer__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 2em;
  color: var(--clr-neutral--100);
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4em;
  max-width: 15rem;
}

.contributor__name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.8em;
  letter-spacing: 0.1rem;
}

.contributor__links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contributor__link a i {
  font-size: 2rem;
  color: var(--clr-neutral--100);
}

.contributor__link a i:hover {
  color: var(--clr-accent--300);
}