{% extends "base.html" %}
{% block extra_css %}
  <style>
    .bg {
      height: unset;
      background-image: linear-gradient(#1c2431a9,
          #1c2431a9),
        url('/static/images/bg10.svg');
    }
  </style>
{% endblock %}

{% block content %}
  <div class="issue__delete">
    <form method="post" class="issue__delete--form">
      <h2 class="issue__delete--title">
        Delete Issue
      </h2>
      {% csrf_token %}
      <div class="issue__delete--header">
        <div class="issue__delete--question">Are you sure you want to delete issue: </div>
        <div class="issue__delete--name"> "{{ issue.title }}" ?</div>
        <div class="issue__delete--warning">The issue will be permanently deleted.</div>
      </div>
      <div class="issue__delete--btns">
        <a href="{% url 'issue_detail' issue.project.created_by issue.project.id issue.id %}"
          class="issue__delete--back">
          Cancel
        </a>
        <button type="submit" name="delete">Delete</button>
      </div>
    </form>
  </div>
{% endblock %}