{% extends "base.html" %}
{% block extra_css %}
<style>
  .bg {
    height: unset;
    background-image: linear-gradient(#1c2431a9,
        #1c2431a9),
      url('/static/media/bg10.svg');
  }
</style>
{% endblock %}

{% block content %}
<div class="issue__details">
  <a href="{% url 'edit_issue' created_by=issue.project.created_by project_id=issue.project.id issue_id=issue.id %}"
    class="issue__edit btn__issue--edit">
    Edit
    <i class="fas fa-edit"></i>
  </a>
  <h2 class="issue__title--main">
    {{ issue.title }}
    </br>
    <span>({{ issue.project }})</span>
  </h2>
  <div class="issue__details--main">
    <div class="issue__marks">
      <div class="issue__priority--container">
        {% if issue.priority == 0 %}
        <div class="issue__priority blue">
          <div class="circle"></div>
        </div>
        <div class="issue__priority--content">Low priority</div>
        {% elif issue.priority == 1 %}
        <div class="issue__priority yellow">
          <div class="circle"></div>
        </div>
        <div class="issue__priority--content">Medium priority</div>
        {% elif issue.priority == 2 %}
        <div class="issue__priority orange">
          <div class="circle"></div>
        </div>
        <div class="issue__priority--content">High priority</div>
        {% elif issue.priority == 3 %}
        <div class="issue__priority red">
          <div class="circle"></div>
        </div>
        <div class="issue__priority--content">Urgent priority</div>
        {% endif %}
      </div>
      <div class="issue__type--container">
        {% if issue.issue_type == 0 %}
        <div class="issue__type red">
          <p class="issue__type--text">Bug</p>
        </div>
        <div class="issue__type--content">Type: Bug</div>
        {% elif issue.issue_type == 1 %}
        <div class="issue__type purple">
          <p class="issue__type--text">Feature</p>
        </div>
        <div class="issue__type--content">Type: Feature</div>
        {% elif issue.issue_type == 2 %}
        <div class="issue__type green">
          <p class="issue__type--text">Task</p>
        </div>
        <div class="issue__type--content">Type: Task</div>
        {% elif issue.issue_type == 3 %}
        <div class="issue__type blue">
          <p class="issue__type--text">User Story</p>
        </div>
        <div class="issue__type--content">Type: User Story</div>
        {% endif %}
      </div>
    </div>
    <div class="issue__content--main">
      <div class="issue__description">
        <span class="issue__subtitle">Description: </span>
        {{ issue.description }}
      </div>
      <div class="issue__description issue__description--name">
        <span class="issue__subtitle">Created by: </span>
        {{ issue.created_by }}
      </div>
      <div class="issue__description issue__description--name">
        <span class="issue__subtitle">Assigned to: </span>
        {{ issue.assigned_to }}
      </div>
      <div class="issue__description">
        <span class="issue__subtitle">Created on: </span>
        {{ issue.created_on }}
      </div>
      <div class="issue__description">
        <span class="issue__subtitle">Updated on: </span>
        {{ issue.updated_on }}
      </div>
    </div>
  </div>


  <div class="issue__data issue__detail--data">
    <form class="issue__votes " method="POST"
      action="{% url 'issue_vote' created_by=issue.project.created_by project_id=issue.project.id issue_id=issue.id %}">
      {% csrf_token %}
      <div class="issue__votes--icon ">
        {% if user.id and user in issue.votes.all %}
        <button type="submit">
          <i class="fas fa-check-circle votes"></i>
        </button>
        {% else %}
        <button type="submit">
          <i class="far fa-check-circle votes"></i>
        </button>
        {% endif %}
      </div>
      <div class="votes">
        {{ issue.votes.count }}
      </div>
    </form>
    <div class="issue__comments">
      <div class="issue__comments--icon">
        <i class="far fa-comment comments"></i>
      </div>
      <div class="comments">
        {{ issue.comments.count }}
      </div>

    </div>
  </div>


  <div class="issue__details--comments">
    {% if comments.all.count == 0 %}
    <div class="issue__comments--empty">
      <p>No comments yet</p>
    </div>
    {% else %}

    {% for comment in comments.all %}
    <div class="issue__comment">
      <div class="issue__comment--header">
        <div class="issue__comment--name">
          {{ comment.created_by }}
        </div>
        {% if comment.created_by == user %}
        <div class="issue__comment--edit">
          <div href="" class=" btn__comment--edit">
            Edit
            <i class="fas fa-edit"></i>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="issue__comment--subheader">
        <div class="issue__comment--date">
          {{ comment.updated_on }}
        </div>
      </div>
      <div class="issue__comment--content">
        {{ comment.comment_body }}
      </div>


    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="add__comment">
    <form class="add__comment--container" method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <button class="btn__comment--add" type="submit">Add comment +</button>
    </form>
  </div>
  {% endblock %}