{% extends "base.html" %}

{% block content%}

{% if request.user.is_authenticated %}
<h2 class="project__title">{{ project.title }}</h2>
<div class="project__details">
  {% if user.id == project.created_by.id or user in project.collaborators.all %}
  <section class="project__header">
    <h3 class="project__header--descriptions">
      <span>Descriptions: </span>
      {{ project.description }}
    </h3>
    </h3 class="project__header--descriptions">
    <span>Collaborators: </span>
    {% for collaborator in project.collaborators.all %}
    {{ collaborator.username }},
    {% endfor %}
    </h3>
  </section>
  <section class="project__issues">
    <h3 class="project__issues--title">
      Issues
    </h3>
    <div class="project__issues--main">
      <div class="project__issue--status">
        <div class="project__issues--header">
          <h4 class="issue--title">To Do</h4>
          <button id="btn btn__issue--add" data-target-modal="#todo_form">+ Add Todo</button>
        </div>
        <div class="project__issues--container">
          <div class="project__issue"></div>
        </div>
      </div>
      <div class="project__issue--status">
        <div class="project__issues--header">
          <h4 class="project__issue--title">In Progress</h4>
        </div>
        <div class="project__issues--container">
          <div class="project__issue"></div>
        </div>
      </div>
      <div class="project__issue--status">
        <div class="project__issues--header">
          <h4 class="project__issue--title">Done</h4>
        </div>
        <div class="project__issues--container">
          <div class="project__issue"></div>
        </div>
      </div>
    </div>
  </section>
  {% else %}
  <h3 class="project__title--message">You are not authorized to view this project</h3>
  {% endif %}

  {% else %}
  <h3 class="project__title--message">You are not authorized to view this project</h3>
  {% endif %}
</div>
{% endblock %}