{% extends "base.html" %}

{% block content %}
<div class="projects__container">
  <h2 class="projects__title">Projects</h2>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <!-- Projects created by user -->
  <div class="projects__group">
    <h3 class="projects__subtitle">My projects:</h3>
    <ul class="projects__list">
      <li class="projects__item projects__item--new" id="add-new-project">
        <div class="add__project" id="add__project">
          <i class="fas fa-plus-circle" id="add-project-icon"></i>
        </div>
        <div class="project__options project__options--hidden" id="project__options">
          <div class="add__project--title">
            Project's type:
          </div>
          <div class="add__project--type">
            <a href="{% url 'create_personal_project' %}" aria-label="Personal project" class="project__type">
              Personal
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>
          <p class="add__project--or">or</p>
          <div class="add__project--type">
            <a href="{% url 'create_team_project' %}" aria-label="Group project" class="project__type">
              Group
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>

        </div>
      </li>
      {% for project in projects %}
      {% if project.created_by.id == user.id %}
      {% if project.project_type == 0 %}
      <!-- Personal projects -->
      <li class="projects__item">
        <div class="project__icon">
          <i class="fas fa-user"></i>
        </div>

        <div class="projects__item--name">
          <div class="project__item--title">Name:</div>
          {{ project.title }}
        </div>
        <div class="projects__item--members">
          <div class="project__item--title">Members:</div>
          {{ project.created_by }}
        </div>
        <div class="projects__item--description">
          <div class="project__item--title">Description:</div>
          {{ project.description }}
        </div>

        <a href="{% url 'project_detail' created_by=project.created_by pk=project.id %}" class="projects__link">Open</a>
      </li>
      {% else %}
      <li class="projects__item">
        <div class="project__icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="projects__item--name">
          <div class="project__item--title">Name:</div>
          {{ project.title }}
        </div>

        <div class="projects__item--members">
          <div class="project__item--title">Members:</div>
          {% for collaborator in project.collaborators.all %}
          {{ collaborator.username }},
          {% endfor %}
        </div>
        <div class="projects__item--description">
          <div class="project__item--title">Description:</div>
          {{ project.description }}
        </div>
        <a href="{% url 'project_detail' created_by=project.created_by pk=project.id %}" class="projects__link">Open</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <!-- Created by others + participated -->
  <div class="projects__group">
    <h3 class="projects__subtitle">Other projects:</h3>
    <ul class="projects__list">
      {% for project in projects %}

      {% if project.created_by.id != user.id and user in project.collaborators.all %}
      <li class="projects__item">
        <div class="project__icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="projects__item--name">
          <div class="project__item--title">Name:</div>
          {{ project.title }}
        </div>

        <div class="projects__item--members">
          <div class="project__item--title">Members:</div>
          {% for collaborator in project.collaborators.all %}
          {{ collaborator.username }},
          {% endfor %}
        </div>
        <div class="projects__item--description">
          <div class="project__item--title">Description:</div>
          {{ project.description }}
        </div>
        <a href="{% url 'project_detail' created_by=project.created_by pk=project.id %}" class="projects__link">Open</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>

{% endblock %}